:root {
    --primay-color: #FFFFFF;
    --secondary-color: #23272A;
    --font-size: 16px;
    --font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 505px 573px repeat(2, 507px) 560px 140px;
}

header {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('./assets/Header\ Background.png')
}

.conteudo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vw;      /* 90% da largura da viewport */
    max-width: 428px; /* Limite máximo */
    height: auto;     /* Altura automática */
    min-height: 200px;
    margin: 24px;
    gap: 24px;
}

#titulo {
    display: flex; 
    align-self: flex-start;
    width: 100%;
    max-width: 278px;
    height: auto;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    size: 32px;
    color: #FFFFFF;
}

#descricao-titulo {
    display: flex; 
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 381px;
    height: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: #FFFFFF;

}

.conteudo-header-botoes {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 381px;
    height: auto;
    gap: 16px;
}

#baixar, #abrir {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 381px;
    height: auto;
    min-height: 54px;
    border-radius: 28px;
    text-decoration: none;
    border: none;
}

#baixar {
    display: flex;
    background-color: #FFFFFF;
    color: #23272A;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

#abrir {
    display: flex;
    background-color: var(--secondary-color);
    color: var(--primay-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}



